@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
	--darkest: #0b3319ff;
	--darker: #15751eff;
	--dark: #39a325ff;
	--medium-light: #79e230ff;
	--semi-light: #c0ff35ff;
	--light: #f9fba5ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Fira Sans Condensed", sans-serif;
}

body {
	background-color: var(--darkest);
}
.container {
	text-align: center;
	padding: 2rem 2rem;
}

.container h2 {
	font-size: 2.3em;
	color: var(--light);
	margin-bottom: 1rem;
}
#error-msg {
	padding-top: 5px;
	font-size: 1.1em;
	text-align: center;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: lowercase;
}

.taking-task {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	width: 100%;
}

#task-input {
	width: 50%;
	padding: 0.8rem;
	border: var(--semi-light);
	border-bottom: 2px solid var(--light);
	outline: none;
	background-color: var(--darker);
	color: var(--light);
	font-size: 1.2em;
	border-radius: 0.5rem;
	box-shadow: 0 0.2rem 0.5rem rgba(251, 247, 247, 0.2);
	transition: all 0.2s ease-in-out;

	&:focus {
		box-shadow: 0 0.5rem 1rem #69efa180;
	}

	&::placeholder {
		color: var(--medium-light);
	}

	&:hover {
		cursor: pointer;
	}
}
#add-button {
	width: 10%;
	padding: 0.8rem;
	border: var(--semi-light);
	border-bottom: 2px solid var(--light);
	outline: none;
	background-color: var(--darker);
	color: var(--light);
	font-size: 1.2em;
	border-radius: 0.5rem;
	box-shadow: 0 0.2rem 0.5rem rgba(251, 247, 247, 0.2);
	transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		cursor: pointer;
	}
	&:focus {
		box-shadow: 0 0.5rem 1rem #69efa180;
	}
	&::placeholder {
		color: var(--light);
	}
}

.content {
	margin: 0rem auto;
	gap: 1rem;
	width: 61%;
	padding: 1rem;
}
.task-header {
	width: 100%;
}
.task-heading {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	width: 100%;
	padding: 0.3rem 1rem;
	border: var(--semi-light);
	margin-bottom: 0.1rem;
	color: var(--dark);
	font-size: 1em;
	text-align: center;

	.description-label {
		width: 58%;
		text-align: left;
	}
	.date-label {
		width: 13%;
	}
	.time-label {
		width: 11%;
	}
	.edit-label {
		width: 7%;
	}
	.delete-label {
		width: 7%;
	}
}

.task-container {
	width: 100%;
}
.task {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	width: 100%;
	padding: 1rem;
	border: var(--semi-light);
	border-radius: 0.5rem;
	box-shadow: 0 0.2rem 0.5rem rgba(251, 247, 247, 0.2);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	margin-bottom: 0.5rem;
	text-align: center;
	font-size: 1.2em;
	color: var(--light);

	&:hover {
		cursor: pointer;
	}
	&:hover {
		box-shadow: 0 0.2rem 0.5rem rgba(251, 247, 247, 0.2);
	}
	&:focus {
		box-shadow: 0 0.5rem 1rem #69efa180;
	}
	&::placeholder {
		color: var(--light);
	}
	.task-description {
		width: 58%;
		text-align: left;
	}
	.task-date {
		width: 13%;
	}
	.task-time {
		width: 11%;
	}
	.task-edit {
		width: 7%;
	}
	.task-delete {
		width: 7%;
	}
}
.completed {
	text-decoration: line-through;
	color: var(--medium-light);
	font-size: 1em;
	cursor: default;
	transition: all 0.2s ease-in-out;
}

.editing {
	border: none;
	.task-description {
		width: 58%;
		text-align: left;
	}
}
